/* -------------------------------------------------- 
	Content
---------------------------------------------------*/

.main {
  padding: 25px 0;
  @media (min-width: @screen-max-xs) {
    padding: 25px 0 15px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    color: @color-primary;
    margin-bottom: 15px;
  }
  p {
    line-height: 30px;
    color: @color-primary;
  }
}

.breakup {
  height: 4px;
  background: -moz-linear-gradient(left, @color-warning2 1%, @color-white 50%, @color-warning2 100%);
  background: -webkit-linear-gradient(left, @color-warning2 1%, @color-white 50%, @color-warning2 100%);
  background: linear-gradient(to right, @color-warning2 1%, @color-white 50%, @color-warning2 100%);
  &--blurred {
    height: 5px;
    background: -moz-linear-gradient(left, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
  }
  &--left {
    width: 6px;
    height: 100%;
    background: -moz-linear-gradient(top, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    @media (min-width: @screen-max-xs) {
      display: block;
    }
  }
  &--left-sup {
    left: 10px;
    top: -30px;
  }
  &--right {
    width: 6px;
    height: 100%;
    background: -moz-linear-gradient(top, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, @color-warning2 0%, rgba(255, 255, 255, 0) 100%);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    @media (min-width: @screen-max-xs) {
      display: block;
    }
  }
  &--right-inverse {
    width: 6px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, @color-warning2 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, @color-warning2 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, @color-warning2 100%);
    display: none;
    position: absolute;
    right: 0;
    bottom: 20px;
    @media (min-width: @screen-max-xs) {
      display: block;
    }
  }
  &--spaced-bottom {
    margin-bottom: 15px;
  }
  &--square {
    @media (min-width: @screen-max-xs) {
      margin-top: -45px;
    }
    @media (min-width: @screen-max-sm) {
      margin-top: -45px;
    }
  }
}

.square {
  &:extend(.clearfix all);
  margin-bottom: 25px;
  @media (min-width: @screen-max-xs) {
    margin-bottom: 45px;
  }
  &--sup {
    @media (min-width: @screen-max-xs) {
      margin-top: 50px;
    }
  }
  &__heading {
    background: @color-primary;
    padding: 10px;
    @media (min-width: @screen-max-sm) {
      padding: 15px;
    }
    &__title {
      font-size: 18px;
      color: @color-white;
    }
    &--secondary {
      background: @color-warning2;
    }
    &--green {
      background: @color-green;
    }
    &--light-green {
      background: @color-green-light;
    }
    &--blue {
      background: @color-blue;
    }
    &--light-grey {
      background: @color-grey;
    }
    &--dark-grey {
      background: @color-grey-dark;
    }
    &--spaced {
      margin-bottom: 15px;
    }
    &--short {
      @media (min-width: @screen-max-xs) {
        width: 48%;
      }
    }
    &--small {
      padding: 10px 15px;
      .square__heading__title {
        font-size: 14px;
      }
    }
  }
}

.col-fx {
  position: relative;
  &--margin {
    @media (min-width: @screen-max-xs) {
      margin: 0 15px 0 -15px;
    }
  }
  .square {
    @media (min-width: @screen-max-xs) {
      margin-bottom: 25px;
    }
  }
}